{% extends "base.html" %}

{% block title %}Community Roadmaps{% endblock %}

{% block content %}
<section id="community-roadmaps">
    <h1>Community Roadmaps</h1>
    <ul class="roadmap-list">
        {% for roadmap in roadmaps_communities %}
        <li class="roadmap-item">
            <div class="roadmap-info">
                <h2 class="roadmap-title"><a href="{{ roadmap.link }}">{{ roadmap.title }} Community</a></h2>
                <p class="roadmap-description">{{ roadmap.description }}</p>
            </div>
            <a class="roadmap-button" href="{{ roadmap.link }}">See Community</a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
