{% extends "base.html" %}

{% block title %}Messages{% endblock %}

{% block content %}
<section id="messages-page">
    <h1>Messages</h1>
    <div id="messages-container">
        {% if last_messages %}
            {% for message in last_messages %}
                <div class="message-container">
                    <img src="{{ message.other_user_photo }}" class="message-photo" alt="User Photo">
                    <div class="message-box {% if message.sender_same_user %}sent{% else %}received{% endif %}">
                        <div class="message-info">
                            <a href="{{ message.link }}" class="message-sender">{{ message.other_user_name }}</a>
                            <span class="message-time">{{ message.time }}</span>
                        </div>
                        {% if message.sender_same_user %}
                        <p>You: {{ message.last_message_sent }}</p>
                        {% else %}
                        <p>{{ message.other_user_name }}: {{ message.last_message_sent }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>You have no messages!</p>
        {% endif %}
    </div>
</section>
{% endblock %}
