{% extends "base.html" %}

{% block title %}Messaging with {{ other_user_name }}{% endblock %}

{% block content %}
<!-- Notification -->
<div id="notification" class="notification"></div>
<!-- End of Notification -->

<section id="single-messaging-page">
    {% if error_message %}
    <div id="error-box" style="background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; border-radius: 5px; padding: 10px; font-size: 16px; margin-bottom: 10px;">
        {{ error_message }}
    </div>
    {% endif %}
    <h1>Messaging with <a href="{{ url_for('get_another_user', user_id=user_id) }}"> {{ other_user_name }} </a></h1>
    <div id="messaging-scroll-container">
        <div id="messaging-container">
            {% if messages %}
                {% for message in messages %}
                    {% if message.sender_same_user %}
                        <div class="senderman sent" style="margin-bottom: 10px; margin-left: 10px; font-size: 14px; margin-right: 20px;">{{ session.user.first_name }}</div>
                    {% else %}
                        <div class="senderman received" style="margin-bottom: 10px; margin-left: 10px; font-size: 14px; margin-right: 20px;">{{ other_user_name.split(' ')[0] }}</div>
                    {% endif %}
                    <div class="message-container {% if message.sender_same_user %}sent{% else %}received{% endif %}">
                        <img src="{% if message.sender_same_user %}{{ my_photo }}{% else %} {{ other_photo }} {% endif %}" alt="User Photo" class="user-photo {% if message.sender_same_user %}sent{% else %}received{% endif %}">
                        <div class="message-box">
                            <p>{{ message.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p style="margin-bottom: 20px;">No messages yet!</p>
            {% endif %}
        </div>
    </div>
    <form id="message-form" action="{{ url_for('single_messaging', user_id=user_id) }}" method="POST" onsubmit="return validateForm()" style="position: relative; margin-left: 0px;">
        <textarea name="text" id="message" rows="3" placeholder="Type your message here" onkeydown="handleKeyDown(event)"></textarea>
        <button type="submit" onclick="return validateForm()">Send</button>
    </form>
    
</section>

<script>
function handleKeyDown(event) {
    if (event.key === 'Enter') {
        event.preventDefault();
        if (validateForm()) {
            document.getElementById('message-form').submit();
        }
    }
}

function validateForm() {
    var message = document.getElementById("message").value.trim();
    if (message === "") {
        showNotification("Message cannot be empty");
        return false; // Prevent form submission
    }
    return true; // Allow form submission
}

function showNotification(message) {
    var notification = document.getElementById("notification");
    notification.textContent = message;
    notification.classList.add("show");

    setTimeout(function() {
        notification.classList.remove("show");
    }, 1250); // 5 seconds
}

// Scroll the messaging container to the bottom
var messagingContainer = document.getElementById("messaging-scroll-container");
messagingContainer.scrollTop = messagingContainer.scrollHeight;

// Function to scroll to the bottom of the messaging container
function scrollToBottom() {
    messagingContainer.scrollTop = messagingContainer.scrollHeight;
}

// Call the scrollToBottom function after the content is loaded
window.onload = scrollToBottom;
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var errorBox = document.getElementById('error-box');
        var successBox = document.getElementById('success-box');
        
        if (errorBox) {
            setTimeout(function() {
                fadeOut(errorBox);
            }, 10000); // Hide after 10 seconds
        }
        
        if (successBox) {
            setTimeout(function() {
                fadeOut(successBox);
            }, 10000); // Hide after 10 seconds
        }
    });
    
    function fadeOut(element) {
        var opacity = 1;
        var timer = setInterval(function() {
            if (opacity <= 0) {
                clearInterval(timer);
                element.style.display = 'none';
            }
            element.style.opacity = opacity;
            opacity -= 0.05;
        }, 100);
    }
    </script>
{% endblock %}
